# --- ENVIRONNEMENT ---
.env
.DS_Store
Thumbs.db

# --- DOCKER & BDD ---
# On ignore les dossiers de données créés par Docker pour ne pas alourdir Git
/mysql_data/
/mongo_data/

# --- DÉPENDANCES ---
/vendor/
/node_modules/

# --- SÉCURITÉ ---
# Si tu crées des fichiers de logs pour le debug
*.log

# --- FICHIERS VS CODE ---
.vscode/