# --- BASES DE DONNÉES (Données locales) ---
# Dossiers contenant les volumes de données MariaDB et MongoDB
db_data/
mongo_data/
*.sqlite

# Ignorer les dumps de sauvegardes lourdes, mais CONSERVER le schéma d'installation
*.dump.sql
*.bak.sql
!back-end/database.sql