# 1. On définit la page d'accueil par défaut
DirectoryIndex front-end/index.html

# 2. On s'assure que les dossiers sont accessibles
Options +FollowSymLinks -Indexes

# 3. Si quelqu'un tape l'adresse sans rien, on le force à aller vers le front-end
RewriteEngine On
RewriteRule ^$ /front-end/index.html [L,R=301]