:root {
    /* Couleurs */
    --color-primary: #4CAF50;    /* Vert Écologique */
    --color-secondary: #8BC34A;  /* Vert Clair  */
    --color-background: #F5F5F5; /* Fond clair */
    --color-text: #212121;      /* Texte principal */
    --color-light-text: #666;   /* Texte secondaire */
    --color-white: #FFFFFF;

    /* Typographie */
    --font-family-main: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font-family-main);
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: var(--color-primary);
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/* Bouton Primaire */
.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #388E3C;
}
/* Header Menu Mobile */

.header {
    background-color: var(--color-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 15px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.logo a {
    color: var(--color-text);
}